// Navigation Styles here
nav{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    justify-content: space-between;
    border-bottom: 2px dashed gray;
    @media @mobile{
        margin-right: 0px;
    }
    p{
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        color: black;
        padding: 3rem;
        @media @mobile{
            margin-right: 0px;
    }
}
   .nav-items{
       display: flex;
       flex-wrap: wrap;
    a{
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        color: black;
        padding: 3rem;
        @media @mobile{
            margin-right: 0px;
    }
   
    }
   }